//*Source Sans Pro*//
$title-font: 'Source Sans Pro',
sans-serif;

//*Open Sans*//
$main-font: 'Open Sans',
sans-serif;

//*Colors*//
$white-col: #ffffff;
$black-col: #333b46;
$dblack-col: #464646;
$grey-col: #81868e;
